<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">


<bean id="hostel" class="domain.Hostel" scope="prototype" parent="Position" />
	
<bean id="site" class="domain.Site" scope="prototype" parent="Position">

</bean>
	
<bean id="Position" class="domain.Position"  scope="prototype" abstract="true">
	<property name="id">
		<value>0</value>
	</property>
	<property name="name">
		<value>0</value>
	</property>
	<property name="address">
		<value>0</value>
	</property>	
	<property name="price">
		<value>0</value>
	</property>
	<property name="positionX">
		<value>0</value>
	</property>
	<property name="positionY">
		<value>0</value>
	</property>
	<property name="urlPicture">
		<value>0</value>
	</property>
	<property name="score">
		<value>0</value>
	</property>
</bean>
	

<bean id="Preferences" class="process.Preferences">
	<property name="keyword">
		<value>plage</value>
	</property>
	<property name="duration">
		<value>7</value>
	</property>
	<property name="comfort">
		<value>0</value>
	</property>
	<property name="minPrice">
		<value>500</value>
	</property>
	<property name="maxPrice">
		<value>2000</value>
	</property>
	<property name="activity">
		<value>loisir</value>
	</property>
	<property name="typeHostel">
		<value>Standard</value>
	</property>
	<property name="typeTransport">
		<value>Boat</value>
	</property>
</bean>

<bean id="boat" class="domain.Boat" scope="prototype">
	<property name="distance">
		<value>0</value>
	</property>
</bean>

<bean id="walk" class="domain.Walk" scope="prototype">
	<property name="distance">
		<value>0</value>
	</property>
</bean>

<bean id="autobus" class="domain.AutoBus" scope="prototype">
	<property name="distance">
		<value>0</value>
	</property>
</bean>

<bean id="transport" class="domain.Transport" scope="prototype"></bean>


<bean id="activity" class="domain.Activity" scope="prototype"></bean>

<bean id="excursion" class="domain.Excursion" scope="prototype"></bean>

<bean id="offer" class="domain.Offer" scope="prototype"></bean>

<!-- Bean definition for Site -->
    <bean id="siteBean" class="domain.Site" scope="prototype">
        <property name="id" value="1" />
        <property name="name" value="Site Name" />
        <property name="address" value="Site Address" />
        <property name="price" value="100" />
        <property name="positionx" value="50" />
        <property name="positiony" value="50" />
        <property name="urlPicture" value="http://example.com/picture.jpg" />
        <property name="score" value="4.5" />
        <property name="description" value="Description of the site" />
        <property name="duration" value="2.5" />
        <property name="type" value="S" />
    </bean>
       <bean id="hostelBean" class="domain.Hostel" scope="prototype">
        <property name="id" value="1" />
        <property name="name" value="Hostel Name" />
        <property name="address" value="Hostel Address" />
        <property name="price" value="100" />
        <property name="positionx" value="50" />
        <property name="positiony" value="50" />
        <property name="urlPicture" value="http://example.com/picture.jpg" />
        <property name="score" value="4.5" />
        <property name="type" value="S" />
    </bean>
    
    

</beans>